<div class="content individual" [style.display]="groupReg?'none':'flex'">

  <div class="gfs">
    <div>
      <h1>
        GFS
      </h1>
    </div>

    <div>
      <h3>Welcome to GFS. <br> Connect, Share, Discover, and Prosper with Us!
      </h3>
    </div>




  </div>


  <form class="reg" #UserForm="ngForm" (ngSubmit)="SignUp(UserForm.value)">

    <div class=" form " role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked
        (click)="registration()">
      <label class="btn btn-outline-primary" for="btnradio1">Individual Registration</label>


      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="registration()">
      <label class="btn btn-outline-primary" for="btnradio2">Group Registration</label>


    </div>

    <div class="other">
      <h3>Register through <img src="/assets/images/facebook.png" alt=""> / <img src="/assets/images/gmail.png" alt="">
      </h3>

      <h1>Or</h1>

    </div>
    <div class="mb-3">

      <label for="formGroupExampleInput" class="form-label">Customer Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Same as ID proof" ngModel
        name="name">
    </div>


    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel
        name="email">

      <button type="button" (click)="otpforEmail()">Send OTP</button>

      <div class="otp" [style.display]="isOTPVisibleEmail? 'flex':'none'">
        <input type="text" placeholder="Enter OTP">

        <button type="button"> Verify </button>

      </div>

    </div>


    <div class="mb-3">

      <label for="formGroupExampleInput" class="form-label">Mobile Number</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Valid Mobile Number" ngModel
        name="mobile">

      <button type="button" (click)="otpforMobile()">Send OTP</button>


      <div class="otp" [style.display]="isOTPVisibleMobile? 'flex':'none'">
        <input type="text" placeholder="Enter OTP">

        <button type="button"> Verify </button>

      </div>


    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="password">
    </div>
    <hr>




    <label for="formGroupExampleInput" class="form-label">Click to pay the platform fee</label>

    <button type="button" class="btn btn-primary">Click to pay</button>



    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" ngModel name="check">
      <label class="form-check-label" for="exampleCheck1">I Agree the Terms and Conditions</label>
    </div>
    <button type="submit" class="btn btn-primary">Register now</button>
  </form>



</div>

<!-- 
Group registration -->


<div class="content group" [style.display]="groupReg?'flex':'none'">

  <div class="gfs">
    <div>
      <h1>
        GFS
      </h1>
    </div>

    <div>
      <h3>Welcome to GFS. <br> Connect, Share, Discover, and Prosper with Us!
      </h3>
    </div>




  </div>


  <form class="reg" #UserForm="ngForm" (ngSubmit)="SignUp(UserForm.value)">

    <div class=" form " role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio1">Individual Registration</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="btnradio2">Group Registration</label>


    </div>

    <div class="other">
      <h3>Register through <img src="/assets/images/facebook.png" alt=""> / <img src="/assets/images/gmail.png" alt="">
      </h3>

      <h1>Or</h1>

    </div>
    <div class="mb-3">

      <label for="formGroupExampleInput" class="form-label" ngModel
      name="name">Group Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Same as ID proof">
    </div>

    <select style="width: 450px; margin-left: 10px;" class="form-select" aria-label="Default select example" ngModel name="type">
      <option selected>Select Group Type</option>
      <option value="1">Church</option>
      <option value="2">Conference Center</option>
      <option value="3">Vendor</option>
      <option value="4">Orphanage</option>
      <option value="5">NPO</option>
      <option value="5">Other</option>
    </select>


    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" ngModel name="email">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

      <button type="button" (click)="otpforEmail()">Send OTP</button>

      <div class="otp" [style.display]="isOTPVisibleEmail? 'flex':'none'">
        <input type="text" placeholder="Enter OTP">

        <button type="button"> Verify </button>

      </div>

    </div>


    <div class="mb-3">

      <label for="formGroupExampleInput" class="form-label" ngModel name="mobile">Mobile Number</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Valid Mobile Number">

      <button type="button" (click)="otpforMobile()">Send OTP</button>


      <div class="otp" [style.display]="isOTPVisibleMobile? 'flex':'none'">
        <input type="text" placeholder="Enter OTP">

        <button type="button"> Verify </button>

      </div>


    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" ngModel name="password">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <hr>




    <label for="formGroupExampleInput" class="form-label">Click to pay the platform fee</label>

    <button type="button" class="btn btn-primary">Click to pay</button>



    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1" ngModel name="check">I Agree the Terms and Conditions</label>
    </div>
    <button type="submit" class="btn btn-primary" >Register now</button>
  </form>



</div>