
<app-home></app-home>
<div class="container-fluid">

  <h3>Mutual Funds Made Easy: Navigate the Path to Financial Success with Confidence!</h3>

  <div class="row">

    <div class="col-4">
      <div class="card" >
        <img src="/assets/images/Financial.avif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Financial Health Assessment</h5>
          <p class="card-text">Empower your investment decisions with our app's sophisticated financial assessment module for mutual funds.</p>
          <a href="#" class="btn btn-primary">Click to proceed</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card" >
        <img src="/assets/images/Risk-Assessment.avif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Risk Assessment</h5>
          <p class="card-text">Mitigate uncertainties and make informed choices using our app's advanced risk assessment module for mutual funds.</p>
          <a href="#" class="btn btn-primary">Click to proceed</a>
        </div>
      </div>

    </div>

    <div class="col-4">
      <div class="card" >
        <img src="/assets/images/Top-Companies.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Top Companies</h5>
          <p class="card-text">Explore the top-performing companies and investment opportunities through our app's comprehensive analysis.</p>
          <a href="#" class="btn btn-primary">Click to proceed</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-4"><div class="card" >
      <img src="/assets/images/Tax-Saving.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tax Saving Funds</h5>
        <p class="card-text">Optimize your tax strategy with our app's dedicated analysis of tax-saving mutual funds.</p>
        <a href="#" class="btn btn-primary">Click to proceed</a>
      </div>
    </div></div>
    <div class="col-4"><div class="card" >
      <img src="/assets/images/Best-SIP.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Best SIP Funds</h5>
        <p class="card-text">Secure your financial future with our app's curated selection of the best SIP funds for consistent growth.</p>
        <a href="#" class="btn btn-primary">Click to proceed</a>
      </div>
    </div></div>
    <div class="col-4"><div class="card" >
      <img src="/assets/images/High-Returns.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">High Return Funds</h5>
        <p class="card-text">Maximize your returns with our app's handpicked selection of high-return mutual funds for potential growth.</p>
        <a href="#" class="btn btn-primary">Click to proceed</a>
      </div>
    </div></div>
  </div>



</div>