
.header{

    display: flex;
    
    background: linear-gradient(blueviolet, purple);
    color: white;
    transition: background-color 1s;
    flex-wrap: wrap;
    height: 
}


.logo{

    
    width :150px;
    text-align: center;
    font-size: 70px;
    font-weight:bolder;
    
}

.center{

    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 1000px;
    flex-wrap: wrap;
    
}

.navbar li{

    list-style: none;
    width:100px;    
    text-align: center  ;
    margin: 10px;   
    
    padding: 10px 5px;
    background-color: blueviolet;
    border-radius: 10px;



}

.navbar li a:hover{

    color: blue;
}

.navbar li a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    }

    .material-symbols-outlined{
        margin-right: 5px;
    }

.center input{
    margin-bottom: 10px;
   
    border-radius: 10px;
    padding: 10px;

    margin-left: 40px;
    margin-right: 10px;
    
   
}

.user{
    
    width: 300px;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    
}

.contact{
    background-color: blueviolet;
    text-align:center;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    border-radius: 10px;
}

.contact:hover{

    background-color: red;
}

.user span{
    margin: 10px;
}

.Dir-services{
    display: none;
}

.Directory:hover{
    height: 45px;
    z-index: 2;
  
    
}

.navbar li:hover{
    background-color: red;
}

.messages, .notification, .profile{

    cursor: pointer;
}


.Directory:hover .Dir-services {

    
    display: block;
    flex-direction: column;
    background: linear-gradient(blueviolet, purple);
    margin-top: 15px;
  
    width: 200px;
    margin-left: -5px;
    padding:10px;
    z-index: 2;
    
    

}
.Directory:hover .Dir-services li{
    border: none;
    width: 170px;
    
}


.Directory:hover .Dir-services li a
{
    font-size: small;
    text-align: start;
}





@media (min-width:951px)and (max-width:1050px){
    .header{
        justify-content: center;
    }

}

@media (max-width:950px){
    .header{
        justify-content: center;
        height: 200px;
        
        
    }

    .navbar{ justify-content: center;
    
    }

    .logo{
        height: 30px;
        font-size: 20px;
    }
    .center{
        height: 100px;
        flex-direction:column;
        
    
    }

    .navbar{
        flex-direction: column;
    
        
       
    }
    .navbar li{
        
        width: 80px;
        
        margin: 1px;
        height: 50px;
    
    }

    .center input{
        width:150px
    }

    .navbar a{
        width: 100px;
        font-size: small;
    }
    

}


.submenu-2{
    display: none;
}

.submenu-1:hover .submenu-2{

    display: block; 
    position: absolute;
    margin-top: -34px;
    margin-left: 160px;
    background: linear-gradient(blueviolet, purple);
    z-index: 2;
    


}

.navbar p {
    display: none;
    
}


/* Module name when hover usinf CSS */

.Directory:hover p ,.engagement:hover p ,.financial:hover p {
    display: flex;
    position: absolute;
    top: -8px;
    width: 200px;
    text-align:end;
    color: white;

    
    justify-content: center;
    
}

.active {
    background-color: red;}


   


    .profile:hover{
    color: blue;
      
    }

    .profile .profile-items{

        display: flex;
        background:linear-gradient(blueviolet, purple);
       
        margin-top: 2px;
        position: absolute;
        margin-left: 10px;
        width: 180px;
        padding-top: 10px;
        border-radius: 10px;
        text-align:start;


    }

    .profile .profile-items a{
        text-decoration: none;
        color: white;
        
    }

    .profile .profile-items li{
        list-style: none;
        margin: 10px 0;
    }

    .profile .profile-items a:hover{

        color: blue;
    }
    
